*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.main {
  width: 100%;
  height: 100vh;
  /* background-color: #252424; */
  background: url('./assets/localvendor.jpg') ;
  background-size: cover;
  background-repeat: no-repeat;
}

.formContainer{
  width: 35%;
  min-width: 500px;
  /* height: 75vh; */
  padding: 1.2em;
  border-radius: 0.6em;
  background-color: rgba(2, 25, 27, 0.821);
  color: #fff;
  
  /* padding: .5em; */
  /* box-shadow: 2px 2px 15px rgb(207, 204, 204), -2px -2px 15px rgb(207, 204, 204); */
}

.formContainer form{
  width: 90%;
  min-width: 450px;
  /* border: solid; */
  padding: .5em;
}

.formContainer form input{
  min-width: 300px;
  /* border: solid red; */
}

#checkBox{
  min-width: 10px;
  /* background-color: red; */
}
.formContainer form .group{
  /* border: solid red; */
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: left;
}
.formContainer form .group label{
  /* border: solid; */
  min-width: 90px;
  font-weight: 500;
}
/* .formContainer form .group .dropdown{

  /* border: solid red; */
  /* right: 61%; */
  /* width: 80%; */
  /* color: black; */
/* } */

/* .formContainer form .group .droptoggle{
  background-color: #fff;
}  */

.login {
  width: 30%;
  /* height: 50vh; */
}


.vendor,.home{
  height: 100vh;
}

/* Remove the arrow spinner from input type number*/
input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type="number"] {
  --moz-appearance: textfield;
}


@media screen and ((min-width: 401px)and (max-width: 600px)) {
  .formContainer {
    min-width: 400px; /* Adjusted width for screens 700px and above */
  }
  .formContainer form{
    min-width: 30%;
    /* border: solid; */
  }
  .formContainer form input{
    min-width: 60%;
    /* border: solid red; */
  }
  
}
@media screen and ((min-width: 300px)and (max-width: 400px)) {
  .formContainer {
    min-width: 320px; /* Adjusted width for screens 700px and above */
    /* border: solid blue; */
  }
  .formContainer form{
    min-width: 20%;
    /* border: solid; */
  }
  .formContainer form input{
    min-width: 60%;
    /* border: solid red; */
  }
}